
.experienceContainer {
  display: flex;
  height: 93vh;
}

.projectsPageContainer {
  display: flex;
  flex-direction: column;
}

.logoExpContainer {
  width: 80vw;
  height: 15vh;
  display: flex;
  justify-content: center;
}

.logoExpContainer img {
 width: 150px;
 height: 150px;
 object-fit: scale-down;
}

.projectsScrollContainer {
  height: 75vh;
  overflow-y: scroll;
}



.projectsContainer {
  height: 93vh;
}

.projectCategory {
  width: 100%;
  margin-top: 50px;
}

.projects {
  display: flex;
  flex-direction: row;
  width: 85vw;
  height: 320px;
  overflow-x: scroll;
}

.singleproject {
  width: 400px;
  margin-right: 40px;
  margin-left: 20px;
}

#todolist {
  margin-left: 100px;
  padding-right: 10px;
}

#candidates {
  padding-right: 10px;
}

#mongoose {
  padding-right: 10px;
}

#linkedlist {
  padding-right: 450px; 
}


.contactButton {
  color: white;
  background-color: rgb(68, 112, 255);
  border: none;
}

.contactButton:hover {
  color: rgb(68, 112, 255);;
  background-color: white;
  border: none;
}



.footer {
  display: flex;
  width: 30vw;
  justify-content: space-around;
}

.footer p {
  font-size: .6rem;
}


.ant-card-actions:hover .anticon:hover {
  color: rgb(68, 112, 255);
}




.bg2 {
  background-image: url("2.png");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

