

.aboutPage {
  display: flex;
  height: 93vh;
}

.aboutContainer {
  width: 80vw;
  height: 100%;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoContainer2 {        ///juanlogo
  width: 80vw;
  display: flex;
  justify-content: center;
}
.logoContainer2 img {
 width: 150px;
 height: 150px;
 object-fit: scale-down;
}






.aboutContent {
  width: 80vw;
  height: 100%;
}
.headerAbout {
  display: flex;
  justify-content: center;
}


.experience {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
}

.aboutText {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: space-around;

}

.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 140px;
}
 .logos:hover {
   cursor: pointer;
 }


 .logoContainer3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoContainer3 img {
 width: 150px;
 height: 150px;
 object-fit: scale-down;
}



 .logoTech {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 140px;
  transition: all .2s ease-out;
}
 .technologies {
   display: flex;
   justify-content: space-around;
   overflow-x: scroll;
 }




.affixContainer {
  display: flex;
  justify-content: flex-end;
}
.contactButton {
  color: white;
  background-color: rgb(68, 112, 255);
  border: none;
}






.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  width: 1000px;
  height: 200px;
  position: relative;
  background: white;
  display: flex;
  overflow: hidden;
}
.slide {
  height: 200px;
  display: flex;
  align-items: center;
  animation: slideshow 18s linear infinite;
}
@keyframes slideshow {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}
.slider::before, .slider::after {
  height: 200px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right:0;
  top:0;
  transform: rotateZ(180deg);
}



