
.contactPage {
  display: flex;
  height: 97vh;
}

.contactInfo {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.contactTitle {
  display: flex;
  justify-content: center;
}

.secondaryInfo {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.secondaryInfo a {
  color: black;
}

.secondaryInfo a:hover {
  color: rgb(68, 112, 255);
}

.paragraph {
  margin-bottom: 30px;
}

.navigationMenu h4 {
  margin-left: 5vw;
}

.navigationMenu h4:hover {
  color: rgb(68, 112, 255);
}
