
.contactPage {
  display: flex;
  height: 97vh;
}

.contactInfo {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.contactTitle {
  display: flex;
  justify-content: flex-end;
}

.secondaryInfo {
  display: flex;
  justify-content: flex-end;
  width: 300px;
}

.secondaryInfo a {
  color: black;
}

.secondaryInfo a:hover {
  color: rgb(68, 112, 255);
}

.paragraph {
  margin-bottom: 10px;
}


.contactimg {
  background-image: url("1.png");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}


.calendlyLink {
  color:rgb(68, 112, 255);
}

.code-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.emaildiv {
  margin-left: 10px;
}

.copyicondiv {
  margin-left: 10px;
  display: flex;
  justify-content: flex-end;
}
.copyicondiv:hover {
  cursor: pointer;
  color: rgb(68, 112, 255);
}


.copiedtext {
  cursor: default;
  color: rgb(68, 112, 255);
}


.leftScheduleMeeting {
  display: flex;
  flex-direction: row;
  margin-left: 50px;

}

.schedulemeetingInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
}

.rightContactInfo {
  margin-right: 100px;
}