.expNavigationMenu {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.expNavigationMenu h5 {
  margin-left: 5vw;
}

.experienceContainer {
  display: flex;
}

.projectsContainer {
  height: 93vh;
  overflow-y: scroll;
}

.projectCategory {
  width: 100%;
  margin-top: 50px;
}

.projects {
  display: flex;
  flex-direction: row;
  width: 85vw;
  height: 320px;
  overflow-x: scroll;
}

.singleproject {
  width: 400px;
}

// #todolist {
//   margin-left: 100px;
// }