

.homeContainer1 {
  display: flex;
  height: 97vh;
}


.logoContainer {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoContainer img {
 width: 350px;
 height: 350px;
 object-fit: scale-down;
}


.socialLinks {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.socialLinks a {
  color:rgb(68, 112, 255);
}

.socialLinks a:hover {
  color:black;
}



.bg5 {
  background-image: url("5.png");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

